{% extends 'base.html' %}

{% block content %}
	<div class="d-md-flex mw-100 my-md-3 ps-md-3 flex_flow align-items-center justify-content-center">
    {% for movie in movies %}
        <div class="d-md-flex text-bg-dark text-center my-sm-4 mx-sm-5 vh-80 align-items-end justify-content-center">
            <div class="my-3 py-3 position-relative">
                <!-- Добавлен стиль для изображения -->
                <div class="image-container">
                    <img src="{{ movie.preview.url }}" alt="{{ movie.title }} Preview" class="img-fluid mb-3 blur-image">
                    <div class="overlay">
                        <a href="{{ movie.get_absolute_url }}">
                            <div class="button-i" title="Подробнее о фильме"></div>
                            <p class="about-movie-1">Подробнее</p>
                            <p class="about-movie-2">о фильме</p>
                        </a>

                    </div>
                </div>
                <a href="{{ movie.get_absolute_url }}" class="display-5">{{ movie.title }}</a>
            </div>
        </div>
    {% endfor %}
    </div>
     {% endblock %}