{% extends 'base.html' %}

{% block content %}

<div class="max-container">
    <div class="movie_info_wrapper">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Multiplex</a></li>
                <li class="breadcrumb-item"><a href="#">Фильмы</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ movie.title }}</li>
            </ol>
        </nav>
        <div class="movie-info flex-">
            <div class="column1">
                 <img class="poster" src="{{ movie.preview.url }}" title="{{ movie.title }}" alt="{{ movie.title }}"> <input type="hidden" id="mvi_poster" value="/images/ce/7c/ce7ca6d8681f578779323be85eb753a8.jpeg">
            </div>
        </div>
    </div>
</div>

{% endblock %}