{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="cart-items-container">
        {% include "carts/includes/included_cart.html" %}
    </div>
     <div class="products-container" style="width: 70%; float:left;">
        {% for product in products %}
          <div class="product">
            <img src="{{ product.photo.url }}" style="width: 200px; height: 200px;">
            <div class="price-and-cart" style="display: block; margin-left: 15%;">
                <a href="{% url 'cart:product_cart_add' %}" class="add-to-cart"
                data-product-id="{{ product.id }}">
                    {% csrf_token %}
                    <button style="border: none; border-radius: 20px; width: 80%; height: 35px;">Добавить в корзину</button>
                </a>
                <p class="price" style="padding-right: 15%;">{{ product.price }}грн.</p>
            </div>
          </div>
        {% endfor %}
      </div>
{% endblock %}