{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="position: absolute; top: 30%; left: 38%;">
  {% for row, lst in row_info.items %}
    {% for dct in lst %}
      {% for place in dct.count_places %}
        {% if place in dct.reserved_seats %}
          <button style="width: 40px; height: 55px; background-color: blue; border-radius: 4px; margin: 3px;"></button>
        {% else %}
          <a href="#">
          <!-- <a href="{% url 'cart:cart_add' session.id row place %}"> -->
            <button style="width: 40px; height: 55px; border-radius: 4px; margin: 3px;"></button>
          </a>
        {% endif %}
      {% endfor %}
    {% endfor %}
    <br>
  {% endfor %}
</div>
{% endblock %}