{% load static %}
{% load carts_tags %}

{% user_ticket_carts request as ticket_carts %}


<div class="card mb-3 text-bg-light shadow-lg" style="width: 30%; float: right;">
    <h1>Ваши билеты</h1>
    <div class="card-header" style="width: 100%; float: left;">
        <h5 class="card-title">{{ ticket_carts.movie.title }}</h5>
        <img src="{{ticket_carts.movie.preview.url}}" style="width: 30%;">
    </div>
    {% for cart in ticket_carts %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row text-center">
                    <div class="col p-0">
                        <p>{{ cart.ticket.row }} ряд {{ cart.ticket.place }} место <strong>{{ cart.ticket.session.price }} грн.</strong></p>
                    </div>
                    <div class="col p-0">
                        <a href="{% url 'cart:product_cart_remove' %}" class="remove-from-ticket-cart" 
                        data-cart-id="{{ cart.id }}">
                            {% csrf_token %}
                            <img class="mx-1" src="{% static 'images/icons/basket_delete.png' %}"
                                alt="Catalog Icon" width="16" height="16">
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    {% endfor %}
    <div class="card-footer">
        <p class="float-left" id="tickets-in-cart-count">Итого <strong>{% if ticket_carts %}{{ ticket_carts.total_quantity }}{% else %}0{% endif %}</strong> билетов(а) на сумму</p>
        <h4 class="float-left"><strong>{% if ticket_carts %}{{ ticket_carts.total_price }}{% else %}0{% endif %} грн.</strong></h4>
    </div>
    {% if ticket_carts %}
        <a class="btn btn-warning" href="#">Продолжить</a>
    {% endif %}
</div>

