{% load static %}
{% load carts_tags %}
{% load cinema_places_tags %}

{% user_ticket_carts request as ticket_carts %}


{% if "select_place" in request.path or "ticket_cart_remove" in request.path or ticket_carts %}
<div class="card text-bg-light w-100" style="border-radius: 0">
    <h2 class="my-3" style="margin-left: 0.7rem;">Билеты</h2>    
    <div class="card-header" style="width: 100%; float: left;">
        <h5 class="card-title w-50 float-start">{{ ticket_carts.movie.title }}</h5>
        <span class="float-end">{{ ticket_carts.total_quantity }} билет(ов), {{ ticket_carts.total_price }}грн.</span>
    </div>
    {% for cart in ticket_carts %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row text-center">
                    <div class="col p-0">
                        <p>{{ cart.ticket.row }} ряд {{ cart.ticket.place }} место <strong>{{ cart.ticket.session.price }} грн.</strong></p>
                    </div>
                    <div class="col p-0">
                        {% if "product" not in request.path and "order" not in request.path %}
                            <a href="{% url 'carts:ticket_cart_remove' %}" class="remove-from-ticket-cart" style="margin-left: 48%;"
                            data-cart-id="{{ cart.id }}">
                                {% csrf_token %}
                                    <img class="mx-1" src="{% static 'images/icons/basket_delete.png' %}"
                                    alt="Catalog Icon" width="16" height="16">
                        {% endif %}
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    {% endfor %}
</div>
{% endif %}

