/* Стили для текста в поле поиска */
form input::placeholder {
    color: white !important;
}

img.logo {
    position: relative;
    height: 60px;
    left: 50px;
}

header.p-3 {
    padding: 7px !important;
}

img.menu {
    position: relative;
    height: 50px;
    width: auto;
    right: 100px;
}

.btn-primary {
    --bs-btn-active-bg: none;
}

/* Добавленный стиль для кнопки "Искать" */
form button.btn-outline-success {
    color: red !important;           /* Цвет текста */
    border-color: red !important;    /* Цвет обводки */
}

/* Стиль для кнопки "Искать" при наведении на текст */
form button.btn-outline-success:hover {
    color: white !important;
    background-color: red !important;

}

button.btn.btn-primary {
    position: absolute;
    background: none;
    border: none;
    left: 100px;
}

div.offcanvas-header {
    background-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1));
    color: white;
    height: 175px;
}

.me-12 {
    margin-left: 12rem;
}


.btn-close {
    position: absolute;
    background-color: white;
    top: 25px;
    border-radius: 16px;
    width: 10px;
    height: 10px;
}

.btn-close:hover {
    background-color: red;
    border-radius: 16px;
}

img.off-canvas-logo {
    position: relative;
    top: 10px;
    left: 67px;
    width: 240px;
    height: auto;
}

div.offcanvas-body {
    background-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1));
}

div.list a {
    display: flex;
    align-items: center;
    flex-direction: column !important;
    color: white;
    text-decoration: none;
    font-size: 25px;
    line-height: 50px;
}

div.offcanvas-body div a:hover {
   color: red;
}

.menu-block-heading {
    display: flex;
    color: #fff;
    margin-bottom: 12px;
    font-size: 8px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 10px;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
}

.menu-block-heading button {
    background-color: red;
    font-weight: 700;
    border-color: red;
    transition: opacity 0.3s easeIn;
}

.menu-block-heading button:hover {
    color: white;
    background-color: red;
    opacity: 0.8;
    border-color: red;
}

.menu_soc_item {
    color: white;
    margin-top: 10px;
    text-decoration: none;
    font-size: 10px;
    align-items: center;
    justify-content: center;
}

.offcanvas.offcanvas-start {
    transform: translateX(-100%);
    transition: transform 0.21s ease;
}

.offcanvas.offcanvas-end {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.smith {
    height: 20px;
    width: 20px;
}

body {
    color: white;
    background-color: #000007 !important;
}

.vh-80 {
    width: 80vh;
    height: 80vh !important;
}

.flex_flow {
    flex-flow: row wrap;
}

a.display-5 {
    display: block;
    font-size: 40px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

a.display-5:hover {
    color: red;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image-container img {
    width: 46vh;
    height: auto;
    filter: blur(0); /* Начальное значение размытия */
    transition: filter 1s; /* Анимация при изменении свойства filter */
}

.overlay {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 display: none;
	 background-color: rgba(255, 255, 255, 0.1);
	/* Изменено значение на прозрачное */
	 justify-content: flex-start;
	/* Изменено значение на flex-start */
	 align-items: flex-start;
	/* Изменено значение на flex-start */
	 padding: 20px;
	/* Добавлен отступ для кнопки */
}

.overlay button {
	background: none;
	border: none;
	color: red;
	cursor: pointer;
	font-size: 16px;
}

.image-container:hover img {
	filter: blur(7px);
	/* Изменено значение размытия при наведении */
}

.image-container:hover .overlay {
	display: flex;
}
