{% extends 'base.html' %}

{% block content %}
      <h1>Ваши продукты</h1>
      <table class="cart">
        <thead>
          <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit price</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          {% for item in product_cart %}
            {% with product=item.product %}
              <tr style="background-color: #efefef; color: black;">
                <td>
                    <img src="{{ product.photo.url }}">
                </td>
                <td>{{ product.name }}</td>
                <td>
                  <form action="{% url 'cart:product_cart_add' product.id %}" method="post">
                      {{ item.update_quantity_form.quantity }}
                      {{ item.update_quantity_form.override }}
                      <input type="submit" value="Обновить">
                      {% csrf_token %}
                  </form>
                </td>
                <td>
                  <form action="{% url 'cart:product_cart_remove' product.id %}" method="post">
                    <input type="submit" value="Удалить">
                    {% csrf_token %}
                  </form>
                </td>
                <td class="num">{{ item.price }}грн.</td>
                <td class="num">{{ item.total_price }}грн.</td>
              </tr>
            {% endwith %}
          {% endfor %}
          <tr class="total">
             <td>Total</td>
             <td colspan="4"></td>
             <td class="num">{{ product_cart.get_total_price }}грн.</td>
          /tr>
        </tbody>
  </table>
  <p class="text-right" style="margin-top: 1%;">
     <a href="{% url 'cinema:products' %}" class="button">Еще продукты</a>
  </p>
{% endblock %}